<div class="page">
    <div class="block">
        <h1>Danmarks nyeste og mest innovative PMS</h1>
        <p>Skysmack er software til hoteller, der hellere vil bruge tid på at pleje deres kunder, end at spilde tiden på administrative opgaver. Vi arbejder for at gøre din hotelforvaltning langt nemmere og mere profitabel. Hver dag.</p>
    </div>

    <div class="rotate-background">
        <div class="block">
            <h1>Hvorfor er Skysmack sat i verden?</h1>
            <p>Vi er visionære teknologi-nørder, og vi tror på, at vi kan gøre en forskel i hotelbranchen ved brug af nyeste teknologier og stor brugervenlighed. <br>
            har derfor arbejdet tæt sammen med førende danske hoteller, for skabe et nyt PMS, der er overskueligt, hurtigt og fleksibelt.</p>
        </div>
    </div>

    <div class="block">
        <h1>Okay, vis mig fordelene...</h1>
        <p>Skysmack understøtter alle de features, som du forventer af et moderne PMS.<br>
            Systemet består af over 30 moduler, som kan sammensættes præcist efter dit hotels behov. Det betyder mindre kompleksitet og gode besparelser, fordi du kun betaler for de features, som dit hotel har brug for.<br>
            Alle modulerne er designet med henblik på at give dit hotel nye værktøjer til at styrke din forretning, bl.a.<br>
            ved at udnytte data og gøre det nemt at integrere med systemet.</p>
    </div>

    <div class="rotate-2nd-background">
        <div class="block">
            <h1>Designet til at skabe overblik - uafhængigt af tid og sted</h1>
            <p>Skysmack er bygget op omkring et overskueligt og brugervenligt dashboard, der skaber overblik over alle aktiviteterne på dit hotel. Du kan tilgå det både online og offline samt på desktop og mobilt.</p>
        </div>
    </div>

    <div class="block">
        <h1>Flere bookinger med channel managers</h1>
        <p>Skysmack integrerer med verdens førende channel managers, så dit hotel altid bliver maksimalt eksponeret, og opnår de mest optimale priser på bookinger.</p>
    </div>

    <div class="rotate-2nd-background">
        <div class="block">
            <h1>… det nørdede til sidst</h1>
            <p>Vi adskiller os ved at udvikle innovative og stærke tekniske løsninger - og vi elsker at snakke om det! Skysmack er en API baseret- og cloud-hosted platform. Systemet er designet til at svare lynhurtigt, og opretholde strenge sikkerhedskrav, og det åbne API giver fuldt ejerskab over dine data og uanede muligheder for integrationer.</p>
        </div>
    </div>
</div>