@import '../../../../../../../assets/scss/_includes.scss';


.newsletter-block {
    min-width: 100px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 2rem;

    p {
      font-weight: 900;
      margin-top: 0;
    }
    
    button {
      color: white;
    }
  }
  

