<div class="page">
    <div class="block">
        <h1>Choosing skysmack</h1>
        <p>Reasons why companies trust us with their software. </p>
    </div>

    <div class="rotate-background">
        <div class="block">
            <h2>Install and configure applications</h2>
            <p>Choose between our applications, install and use them instantly. </p>
        </div>
    </div>


    <div class="block">
        <h2>New generation of software</h2>
        <p>Latest technologies and full use of the cloud. </p>
    </div>

    <div class="rotate-2nd-background">
        <div class="block">
            <h2>Open API for all your applications</h2>
            <p>Do what you want with your data. </p>
        </div>
    </div>

    <div class="block">
        <h2>Build for speed</h2>
        <p>High availability and fast access. </p>
    </div>
</div>