@import '../../includes';
@import '../app-theme';

// Define the light theme.
$primary: mat-palette($mat-skysmack, primary, light, dark);
$accent:  mat-palette($mat-brown, A200, A400, A700);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
