<ng-container *ngIf="!submitted">
    <h2 mat-dialog-title>Tilmelding til nyt om lanceringen</h2>
    <div mat-dialog-content>
        <p>Udfyld formularen, så får du besked når vi lancerer.</p>
        <form [formGroup]="newsLetterForm">
            <mat-form-field>
                <input matInput formControlName="name" placeholder="Navn">
                <mat-error *ngIf="newsLetterForm.controls.name.errors?.required">
                    Navn skal indtastes.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="email" placeholder="Email">
                <mat-error *ngIf="newsLetterForm.controls.email.errors?.required">
                    Email skal indtastes.
                </mat-error>
                <mat-error *ngIf="newsLetterForm.controls.email.errors?.invalidEmail">
                    Indtast en korrekt email.
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</ng-container>



<ng-container *ngIf="submitted">
    <h2 mat-dialog-title>Tillykke! Du er med på innovationsbølgen.</h2>
    <br />
    <div mat-dialog-content>
        Du hører mere fra os start 2020.
    </div>
</ng-container>

<br />

<div mat-dialog-actions>
    <button mat-raised-button (click)="close()" [ngClass]="submitted ? 'submit-button' : 'default'"
        [color]="submitted ? 'primary' : 'default'">Luk</button>
    <button *ngIf="!submitted" class="submit-button" mat-raised-button color="primary" (click)="submit()"
        cdkFocusInitial>Ok</button>
</div>