@import "../_includes.scss";

.skysmack-logo-img {
    line-height: 1;

    >img {
        max-height: 18px;
        vertical-align: middle;
    }
}

.skysmack-logo-txt > span {
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.8);

    font-weight: 300;
    margin: 0 .5rem;
    transition: color .1s ease;

    &:hover {
        color: mat-color($primary);
    }

    >span {
        font-weight: 400;
    }
}