skysmack-app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  ss-navbar {
    position: fixed;
    top: -56px;
    left: 0;
    right: 0;
    min-height: 56px;
    z-index: 2;
    animation: navbar-entry .3s ease-out 0s 1 normal forwards;
  }
  
  skysmack-app > ss-component-sidenav {
    flex: 1;
  }
  
  skysmack-app > ss-homepage,
  skysmack-app > ss-guides,
  skysmack-app > guide-viewer {
    overflow-y: auto;
  }
  
  @media (max-width: 720px) {
    // skysmack-app {
    //   top: 56px;
    // }
  
    skysmack-app > ss-homepage,
    skysmack-app > ss-guides,
    skysmack-app > guide-viewer {
      overflow-y: visible;
    }
  }

@keyframes navbar-entry {
    0% {
      top: -56px;
    }
    100% {
        top: 0px;
    }
  }