@import '../includes';

html, body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: $skysmack-font;
    line-height: 1.5;
}

html {
    display: flex;
}
body {
    flex: 1;
}

::-moz-selection{ background-color: rgba(119,146,147,0.1); }
::selection { background-color: rgba(119,146,147,0.1); }

.selectable::-moz-selection, input::-moz-selection, textarea::-moz-selection{ background-color: #BBC9C9; color: #000 }
.selectable::selection, input::selection, textarea::selection { background-color: #BBC9C9; color: #000 }

a {
    color: mat-color($accent);
    text-decoration: none;
    
    &:hover, &:active {
        color: mat-color($accent, darker);
    }
}