<nav class="docs-navbar-header mat-elevation-z3">
  <!-- APP DRAWER -->

  <a routerLink="/">
    <img class="skysmack-logo" src="../assets/icons/android-chrome-512x512.png" />
  </a>
  <a class="link" routerLink="/" aria-label="Skysmack">
    <span class="skysmack-logo">sky<span>smack</span></span>
  </a>

  <nav class="main-menu">
    <a routerLink="/" class="menu">
      Why skysmack
    </a>
    <a routerLink="/" class="menu">
      Solutions
    </a> 
    <a routerLink="/" class="menu">
      Products
    </a>
    <a routerLink="/" class="menu">
      Pricings
    </a>
    <a routerLink="/" class="menu">
      Getting started
    </a>
  </nav>

  <div class="flex-spacer"></div>

  <nav class="secondary-menu">
    <a routerLink="/" class="menu">
      Help
    </a>
    <a routerLink="/" class="menu-button" mat-flat-button color="primary">
      Partners 
    </a>
  </nav>
</nav>

<router-outlet></router-outlet>

<nav class="footer">
  <a routerLink="/">
    <img class="skysmack-logo" src="../assets/icons/android-chrome-512x512.png" />
  </a>
  <a class="link" routerLink="/" aria-label="Skysmack">
    <span class="skysmack-logo">sky<span>smack</span></span>
  </a>
</nav>