<ss-booking-steps></ss-booking-steps>

<div class="page">
    <h1>Guests</h1>

    <mat-form-field>
        <mat-select placeholder="Adults">
            <mat-option *ngFor="let opt of adultOptions" [value]="opt.value">
                {{ opt.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Children">
            <mat-option *ngFor="let opt of childrenOptions" [value]="opt.value">
                {{ opt.displayName }}
            </mat-option>
        </mat-select>
    </mat-form-field>

</div>