<ss-container>
  <mat-card>
    <mat-card-header>
      <!-- <mat-card-title [translate]="'OAUTH2.OAUTH2_LOGIN.SIGN_IN'"></mat-card-title>
      <mat-card-subtitle [translate]="'OAUTH2.OAUTH2_LOGIN.ENTER_CRED'"></mat-card-subtitle> -->
      <mat-card-title>Verify email</mat-card-title>
      <mat-card-subtitle>Please enter the verification token</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <ss-dynamic-form *ngIf="fields$" [noSidebar]="true" [fields$]="fields$" [validation]="fieldsConfig.validation"
        [rules]="fieldsConfig.formRules" [buttonText]="'Verify'" (submitted)="onSubmit($event)">
      </ss-dynamic-form>

      <!-- <div *ngIf="success" [translate]="'OAUTH2.OAUTH2_LOGIN.LOGGING_IN'"></div> -->
    </mat-card-content>
  </mat-card>
</ss-container>